        <footer class="footer">
            <div class="container-fluid" style="position:absolute;bottom:0px;text-align: center;">
                <span class="text-muted">Miloš Stojanović &copy; 2017</span>
            </div>
        </footer>
        <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    </body>
</html>
