<div class="container">
    <h3>Search results:</h3>
    <ul class="list-group">
        <?php foreach($data as $dat) : ?>
        <li class="list-group-item">
            <?=$dat?>
        </li>
        <?php endforeach ?>
    </ul>
</div>